body {
    display: table-caption;
}

/*
------------------------------------------
  The elements are arranged vertically
------------------------------------------
*/
.card {
    min-width: 45vw;
    min-height: 80vh;
}

ul {
    top: 38vh;
    left: 28vw;
}

ul li {
    margin: 5vh 5vh 0 0;
    width: 10vh;
    height: 10vh;
}

ul li::before {
    box-shadow: 0 0 0 1.5vw var(--clr), 0 0 0 3vw var(--bgbright), 0 0 0 3.4vw var(--clr);
}

ul li a {
    font-size: 10vw;
}

ul li:hover a {
    font-size: 15vw;
}